<html>
    <head>
        <tilte>ECE 140A Win25</tilte>
    </head>

    <body>
        <h1>Team Name: 4-bit</h1>
        <section>
            <form action="/post" method="post">
                <label for="fname"> First name:</label><br>
                <input type="text" id = "fname" name = "fname" value="Your First Name"><br>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname" value="Your Last Name"><br><br>
                <input type="submit" value = "submit">

            </form>
        </section>
        <h2>Team Number:</h2>
        <li>    Guerrero, Carlos</li>
        <li>    Del-Mar, Anton</li>
        <li>    Sun, Dennis</li>
        <li>    Hernandez, Nathaniel</li>

        <h2>Product Idea</h2>
        <p>Automatic folding equipment</p>
        
        <h2>Product Description</h2>
        <p>A machine that can help people automatically dispose of their clothes, maybe. Help people fold and dry their clothes. Free people from the slavery of washing machines!</p>
        <h2>Customer Interview Validation Result</h2>
        <h3> Questions:</h3>
        <li>1, How do you feel about folding clothes? Do you enjoy it, or is it a chore?</li>
        <li>2, What does your ideal laundry experience look like, from start to finish?</li>
        <li>3, If a device existed to fold your clothes automatically, would it make your life easier? Would you invest in it?</li>
            
        <h3>People's responses (online interview):</h3>
        <p>Derek J</p> 
        <p>1, Folding clothes, is such a waste of my time.</p>
        <p>2, Honestly, I just want to throw everything in the washer, press a button, and have it come out clean, dry, and already folded.</p>
        <p>3, I’d buy that device, but, what’s the price?</p>
            
        <h3>Abnor Zhenli</h3>
        <p>1, A peaceful task. </p>
        <p>2, An ideal experience would integrate smart tech, like an app syncs my laundry preferences to devices that handle everything for me.</p>
        <p>3, No.</p> 
            
        <h3>Key takeaways: </h3>
        <p>From these brief interviews, I found that most people want a fully automated laundry process. It’s not just folding clothes they dislike—many aren’t fans of washing clothes either. Offering a washing machine that also folds clothes could be a better way. That said, if the cost is too high, people would probably fold their clothes themselves.</p>

    </body>
</html>